<main class="articles">
  <div class="outer container">
    <div class="row">
      <ul class="home-left col-4">
        <%= render 'shared/articles' %>
      </ul>
      <ul class="home-right col-8">
        <%= render 'shared/article' %>
        <div class="btn-secondary show-comment-form">応援コメントする</div>
        <div class="comment-text-area hidden">
          <%= text_area_tag :comment_content %>
        <div class="btn-primary add-comment-button">
          <a href="">送信</a>
        </div>
        </div>
      </ul>
    </div>
  </div>
</main>
