%main.articles
  .outer.container
    .row
      %h1 プロフィール

      .profile-header
        .profile-header__img
        .profile-header__info
          %p= @user.name
          %p= @user.email

      = link_to "編集する", edit_user_registration_path
