%body
  %li#modal-1.modal.micromodal-slide{"aria-hidden" => "true"}
    .modal__overlay{"data-micromodal-close" => "", :tabindex => "-1"}
      .modal__container{"aria-labelledby" => "modal-1-title", "aria-modal" => "true", :role => "dialog"}
        %header.modal__header
          %h2#modal-1-title.modal__title 記事を投稿する
          %button.modal__close{"aria-label" => "Close modal", "data-micromodal-close" => ""}
        %main#modal-1-content.modal__content
          .form-signin
            .mb-3
              %label.form-label{:for => "exampleFormControlInput1"} タイトル
              %input#exampleFormControlInput1.form-control{:placeholder => "タイトル", :type => "text"}/
            .mb-3
              %label.form-label{:for => "exampleFormControlTextarea1"} 内容
              %textarea#exampleFormControlTextarea1.form-control{:rows => "12"}
