/* いいね数(likes_count)の多い順にテーブルで表示する */
%table.table
  %tr
    %th user_name
    %th title
    %th likes_count
  - @ranks.each do |rank|
    %tr
      %td= rank.user_name
      %td= link_to rank.title, article_path(rank.article_id)
      %td= rank.likes_count